
@import 'normalize.css';
body,div,header,section,article,nav, ul ol, aside,li, h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    margin: 0 auto;
}

.headerBackground {
    width: 100%;
    text-align: center;
    
      
    
}
.headerLogo{
   position:absolute;
   margin: 0 auto;
   left: 0;
   right: 0;
   width: 20%;    
       
}
.header-main {
    
    position:absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: white;
    
    font-family: 'Oswald', sans-serif;
    font-size: 7em;
    padding: 3em 0 0 1em;
    
}
.header-submain {
    position: absolute;
    justify-content: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    padding: 10em 0 0 5em;
    

}
.header-btn-nav {
    position: absolute;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    padding: 1em;
    margin: 24em 0 0 30em;
    background-color: red;
    color: white;
    
    
}
.FirstSection {
    display: flex;
    
}
.SectionReloj {
    display: inline-flex;
    padding: 2em 2em 2em 5em;
    

}
.SectionExplain {
    display: inline-flex;
    font-family: 'Oswald', sans-serif;
    font-size: 1.8em;
    width: 18em;
    color: gray;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 1em;
    padding-top: 1em;
    
    margin-top: 1em;
    margin-bottom: 1em;
    
}